# atmeltouch
type atmeltouch, domain;
type atmeltouch_exec, exec_type, file_type;
type atmeltouch_file, file_type;

init_daemon_domain(atmeltouch)

allow atmeltouch sensors_device:chr_file rw_file_perms;
allow atmeltouch input_device:dir r_dir_perms;
allow atmeltouch input_device:chr_file r_file_perms;
allow atmeltouch system_data_file:dir create_dir_perms;
allow atmeltouch atmeltouch_file:dir create_dir_perms;
allow atmeltouch atmeltouch_file:file create_file_perms;
allow atmeltouch atmeltouch_exec:file rx_file_perms;
allow atmeltouch self:process execmem;

allow atmeltouch firmware_file:dir r_dir_perms;
allow atmeltouch firmware_file:file r_file_perms;

allow atmeltouch shell_exec:file rx_file_perms;
allow atmeltouch system_file:file {rx_file_perms execmod};
