# cameradcc
type cameradcc, domain;
type cameradcc_exec, exec_type, file_type;
type cameradcc_file, file_type;

allow cameradcc sensors_device:chr_file rw_file_perms;
allow cameradcc input_device:dir r_dir_perms;
allow cameradcc input_device:chr_file r_file_perms;
allow cameradcc cameradcc_exec:file rx_file_perms;
allow cameradcc self:process execmem;

allow cameradcc system_data_file:dir create_dir_perms;
allow cameradcc cameradcc_file:dir create_dir_perms;
allow cameradcc cameradcc_file:file create_file_perms;

allow cameradcc firmware_file:dir r_dir_perms;
allow cameradcc firmware_file:file r_file_perms;

allow cameradcc shell_exec:file rx_file_perms;
allow cameradcc system_file:file {rx_file_perms execmod};
allow cameradcc sysfs_devices_system_cpu:file rw_file_perms;
allow cameradcc sysfs:file rw_file_perms;
allow cameradcc system_file:file execmod;

allow cameradcc self:capability sys_module;
allow cameradcc self:capability { setuid setgid };
allow cameradcc self:capability sys_admin;
allow cameradcc shell_exec:file rx_file_perms;;

init_daemon_domain(cameradcc)

# permissive_or_unconfirmed(cameradcc)
